<h3>List of all categories</h3>

<p><a href="/categories/new">Add New Category</a></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td>
        <%= category[:id] %>
      </td>
      <td>
        <%= category[:name] %>
      </td>
      <td>
        <a href="/categories/<%= category[:id] %>">View</a>
      </td>
      <td>
        <form action="/categories/<%= category.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
