<h3>Form to create new user / Register here</h3>

<form action="/users" method="post">

    <div class="form-group">

        <label for="name">Name</label>
        <input id="name" type="text" name="user[name]" value="">

        <label for="email">Email</label>
        <input id="email " type="text" name="user[email]" value="">

        <label for="address">Address</label>
        <input id="address" type="text" name="user[address]" value="">

        <label for="password">Password</label>
        <input id="password" type="text" name="user[password]" value="">

        <label for="ccnumber">Credit Card Number</label>
        <input id="ccnumber" type="text" name="user[cc_number]" value="">

        <input type="submit" name="name" value="submit">

    </div>

</form>
