<h3>Form to create new product</h3>

<form action="/products" method="post">

    <div class="form-group">

        <label for="name">Name</label>
        <input id="name" type="text" name="product[name]" value="">

        <label for="brand_id">Brand ID</label>
        <input id="brand_id" type="text" name="product[brand_id]" value="">

        <label for="category_id">Category ID</label>
        <input id="category_id" type="text" name="product[category_id]" value="">

        <label for="price">Price</label>
        <input id="price" type="text" name="product[price]" value="">

        <input type="submit" name="name" value="submit">

    </div>

</form>
