<h3>Add new brands here</h3>

<form action="/brands" method="post">
  <div class="form-group">

    <label for="name">Name</label>
    <input id="name" type="text" name="brand[name]" value="">

    <input type="submit" name="name" value="submit">
    
  </div>
</form>
